<style>
  h1 {
    text-align: center;
    text-decoration: underline;
  }

  ol {
    list-style-type: lower-roman;
    padding-left: 20px;
  }
</style>

<div>
  <h1>Angular 101</h1>
  <img src="./assets/angular.png" alt="Angular logo" width="100%">

  <section>
    <h2>What's Angular?</h2>
    <p>
      <i>
        Angular is a TypeScript-based open-source web application framework led by the Angular 
        Team at Google and by a community of individuals and corporations. Angular is a complete 
        rewrite from the same team that built AngularJS. <q id="citation"><a href="https://angular.io/">Wikipedia</a></q>
      </i>
    </p>
  </section>

  <section>
    <h2>Angular for Beginners</h2>
    <iframe width="100%" src="https://www.youtube.com/embed/k5E2AVpwsko"></iframe>
  </section>

  <section>
    <h2>Resources</h2>
    <ol>
      <li><a href="https://medium.com/javascript-in-plain-english/understanding-angular-and-creating-your-first-application-4b81b666f7b4">Understanding Angular and creating your first application</a></li>
      <li><a href="https://medium.com/madhash/19-things-you-need-to-learn-to-become-an-effective-angular-developer-c0ccfa51222a">19 things you need to learn to become an effective Angular developer</a></li>
    </ol>
  </section>
</div>